html{
    height: 100%;
}

table{
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    border-color:#aabcfe;
    border-spacing:0;
    border-collapse:collapse; 
    background:#5fb5d4;
}

.EA{
    width: 50%;
}

.myButton {
    background-color:#44c767;
    border-radius:20px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
  }

  .myButton:hover {
    background-color:#5cbf2a;
  }

  .myButton:active {
    position:relative;
    top:1px;
  }


table th,td{
    color: #000000;
    text-align:center;
    padding:5px;border:1px solid #000;
    margin: 5px;
}
table th{
  background-color: #7796ba;
}
table td{
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
  }

  @media (max-width: 767px){
    .all{
      box-sizing: border-box;
      display: block;
      width: 1100px;
      height: 700px;
    }
    
    body {
      margin:0;
      padding:0;
      font-family: sans-serif;
      background: #243b55
    }
  }