<!DOCTYPE html>
<!--설명창-->
<head>
    <style>
        .css-button {
            color: #000000;
            font-size: 16px;
            border-radius: 5px;
            border: solid 1px #dcdcdc;
            padding: 10px 18px;
            text-shadow: 1px 1px 0px #ffffff;
            box-shadow: inset 1px 1px 2px 0px #ffffff;
            text-decoration: none;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            font-family: Arial;
            background: linear-gradient(180deg, #ededed 10%, #dfdfdf 100%);
            display: inline-block;
            vertical-align: middle;
        }
        .css-button:hover {
            background: linear-gradient(180deg, #dfdfdf 10%, #ededed 100%);
        }
        .css-button-text {
            position: relative;
            display: inline-block;

        }
        .obx{
            color: black;
            width: auto;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        table {
            
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border-collapse: separate;
            border-spacing: 0 1rem;
        }
        table tbody tr {
            background-color: #5fb5d4;
            text-align: center;
            line-height: 3rem;
        }

        .method_intro{
            font-size: larger;
            color: rgb(82, 10, 10);
            font-weight: bolder;
        }
        @media (max-width: 767px){
            body {
            margin:0;
            padding:0;
            font-family: sans-serif;
            background: #243b55
            }
        }
        body {
            background-color: #243b55;
        }
        
    </style>
</head>
<body>
    <div class="obx">
        <p></p>
        <table>
            <tr>
                <td><span class = "method_intro">다른 페이지로 이동하는 방법 </span>테이블 아래 버튼을 누르십시오. 그러면 해당 페이지로 이동합니다.</td>
            </tr>
            <tr>
                <td><span class = "method_intro">사는 방법 </span> "주식 사기" 페이지에서 빈칸에 개수(정수)를 입력한 후 '사기'를 클릭합니다.</td>
            </tr>
            <tr>
                <td><span class = "method_intro">파는 방법 </span>"주식 팔기" 페이지에서 빈칸에 개수(정수)를 입력한 후 '팔기'를 클릭합니다.</td>
            </tr>
            <tr>
                <td><span class = "method_intro">순위 보는 방법 </span>순위 버튼을 누르십시오.</td>
            </tr>
            
        </table>
    </div>
    <a type="button" class="css-button" href="/central">
        <span class="css-button-text">알겠다</span>
    </a>
    
</body>
</html>