<!DOCTYPE html>
<!--need subscription-->
<head>
    <style>
        .obx{
            color: black;
            width: auto;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        table {
            
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border-collapse: separate;
            border-spacing: 0 1rem;
        }
        table tbody tr {
            background-color: #5fb5d4;
            text-align: center;
            line-height: 3rem;
        }
        @media (max-width: 767px){
            body {
            margin:0;
            padding:0;
            font-family: sans-serif;
            background: #243b55
            }
        }
    </style>
</head>
<body>
    <div class="obx">
        <p></p>
        <table>
            <tr>
                <td>hello</td>
            </tr>
            <tr>
                <td>hello</td>
            </tr>
        </table>
    </div>
    <a href="/central" class="myButton">알겠다</a>
    
</body>
</html>