<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home/central.css"/>
    <script defer src="/js/home/central.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="all">
    <div class="info-box">
        <form>
            <p id="user">아이디: </p>
            <p id="balance">예상잔액: </p>
            <p id="currentM">잔액: </p>
        </form>
    </div>
    <div class="login-box">
        <form>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>a</label>
            </div>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>b</label>
            </div>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>c</label>
            </div>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>d</label>
            </div>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>e</label>
            </div>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>f</label>
            </div>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>g</label>
            </div>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>h</label>
            </div>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>i</label>
            </div>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>j</label>
            </div>
            <div class="user-box">
                <input class = "EA" type="number" name="" required="">
                <label>k</label>
            </div>
            <a id ="countbtn" href="#">
                count
            </a>
            <a id ="buybtn" href="#">
                buy
            </a>
        </form>    
    </div>

    <div class="table-box">
        <table>
            <colgroup>
            <col style="width: 95.2px">
            <col style="width: 300.2px">
            <col style="width: 202.2px">
            </colgroup>
            <thead>
                <tr>
                    <th>기업</th>
                    <th>기업정보</th>
                    <th>가격</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="sName"><strong style="color: red;">A</strong>엔터</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
                <tr>
                    <td class="sName"><strong style="color: orange;">B</strong>엔터</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
                <tr>
                    <td class="sName"><strong style="color: yellow;">C</strong>건설</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
                <tr>
                    <td class="sName"><strong style="color: yellowgreen;">D</strong> IT</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
                <tr>
                    <td class="sName"><strong style="color: rgb(52, 82, 94);">E</strong> 뷰티</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
                <tr>
                    <td class="sName"><strong style="color: blue;">F</strong>바이오</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
                <tr>
                    <td class="sName"><strong style="color: darkblue;">G</strong>자동차</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
                <tr>
                    <td class="sName"><strong style="color: rgb(248, 95, 248);">H</strong> 화학</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
                <tr>
                    <td class="sName"><strong style="color: darkmagenta;">I</strong> 조선</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
                <tr>
                    <td class="sName"><strong style="color: darkred;">J</strong> 식품</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
                <tr>
                    <td class="sName"><strong style="color: rgb(47, 6, 37);">K</strong> 항공</td>
                    <td class="sInfo">hello</td>
                    <td class="sValue">hello</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <a href="/ranking" class="myButton">green</a>
</body>


</html>