<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home/ranking.css"/>
    <script defer src="/js/home/ranking.js"></script>
    <title>순위</title>
</head>
<body>
    <div class="box">
        <p id = "rank"></p></div>
    </body>
</html>